/k3s
/kine

# Ignore all .txt files
*.txt
.codex
#*.md
kube-apiserver-init-path.md

/_*
**/_output
/scripts/_*
/scripts/test/_*
/scripts/ec2_k8s/_*
/.idea

/lambda/.aws-sam


/kubernetes_local